.container {
    border: 2px solid black;
    padding: 10px;
    width: 500px;
    height: 500px;
    color: gray;
    align-items: center;
    justify-content: center;
}
.box {
    padding: 10px;
    width: 400px;
    height: 400px;
    color: gray;
    align-items: center;
    justify-content: center;
}
